:root {
    --color-primary: #3399ff;
    --color-secondary: #565594;
    --color-tertiary: #F85E81;

    --color-headingText: #191D27;

    --color-background-primary: #F2F5F7;
    --color-background-secondary: #47467A;
    --color-background-tertiary: #ffffff;

    --parents-gap: 20px;
    --children-gap: 15px;
}

html, body {
    font-family: 'Roboto Serif', serif;
    font-size: 10px;
    line-height: 1;
}

body {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
}

p, h1, h2, h3{
    margin: 0;
    padding: 0;
}

/*header content start*/
#header-content {
    width: 100vw;
    /*background-color: #F85E81;*/

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--parents-gap);

    position: fixed;
    z-index: 1;

}

.btn-nav {
    border: none;
    text-align: center;
    color: #F2F5F7;
    cursor: pointer;

    height: auto;
    font-size: 4rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background-color: var(--color-tertiary);

    position: absolute;
    left: 1rem;
}

.logo-span {
    font-size: 6rem;
    color: var(--color-headingText);
}

#side-nav-keeper{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow-x: hidden;

    background-color: #F85E8125;
    width: 0%;
    height: 100vh;
    transition: 1s;
}

#side-nav-keeper > span {
    font-size: 5rem;
    writing-mode: vertical-lr;
    text-orientation: upright;

    position: absolute;
    left: 15%;
    top: 22%;
    letter-spacing: 1.5rem;
}

#mobile-nav {
    width: 0;
    height: 100vh;
    /*background-color: var(--color-secondary);*/
    background-color: var(--color-tertiary);
    border-radius: 2rem 0 0 2rem;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow-x: hidden;
    transition: 1s;
}

ul > li {
    list-style-type: none;
    padding: 2em 0;
}

li a.menu-a {
    font-size: 2.5em;
    text-decoration: none;
    color: #ffffff;
}

/*header content end*/



@media only screen and (min-width: 780px) {

    /*header content start*/
    #side-nav-keeper {
        display: none;
    }

    #mobile-nav {
        display: none;
    }
    /*header content end*/

}
